/*
    Desc: Styling for the levels section of the dashboard
*/

.levels {
    box-shadow: 0px 0px 6px 1px rgba(230,230,230,1);
    border-radius: 50px;
    background-color: $white;

    .skill {
        &:hover {
            background-color: $gray;
        }
    }
}


@media only screen and (max-width: 768px) {
    .levels {
        border-radius: 0px;
    }
}