/*
    Desc: Styling for the navigation bar
*/

.navigation {
    background-color: $white;

    .navigation-option {

        &:hover {
            background-color: $blue;
            color: $white;
            cursor: pointer;
        }
    }

    .navigation-active {
        background-color: $blue;
        color: $white;
    }

    hr {
        border: 1px solid $black;
    }

    .socialLinks {
        div {
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}