/*
    Desc: Layout for the navigation bar
*/

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .navigation-option {
        text-align: center;
    }

    hr {
        width: 50%;
    }

    .link {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
            align-self: center;
        }
    }
}

@media only screen and (max-width: 768px) {
    .navigation {
        margin: 10px 0;
        flex-direction: row;
        font-size: 0.6em;
        flex-wrap: wrap;


        .navigation-option {
            padding: 0 10px;
        }
        
        hr {
            display: none;
        }

        .link {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 10px;
        } 
    }
}